html, body
{
	margin: 0;
}

body{
	background-color: #bdbfab;
	font-family: 'Roboto', sans-serif;
}

.header
{
	text-align: center;
	background-color: #1e1e21;
	padding: 3rem;
	color: white;
}

.header h1
{
	margin: 0;
	font-size: 4rem;
}

.header h2
{
	font-size: 3rem;
}

.sezione1{
	text-align: center;
	padding: 3rem;
}

.sezione1 h1{
	font-size: 3rem;
}

.sezione1 > .containerTabelle
{
	display: flex;
	margin: 3rem 0;
}

.sezione1 > .containerTabelle > .containerTabella
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	justify-content: flex-start;
	flex: 1;
	text-align: left;
	font-size: 1.3rem;
}

.containerTabella:first-child
{
	margin: 0 3rem 0 0;
}

.containerTabella > h2
{
	text-align: center;
}

.containerTabella table{
	border-collapse: collapse;
}

.containerTabella > table > tbody > tr
{
	border-bottom: 1px solid black;
}

.containerTabella td{
	padding:10px 0 10px 10px;
}

.evidenziato
{
	background-color: red;
}

.sezione2
{
	width: 65%;
	margin: auto;
}

.sezione2 h1
{
	font-size: h3;
	text-align: center;
}

.container{
	background-color: #1e1e21;
	/*box-shadow: inset 0px 0px 18px 0px #ffffff;*/
	padding: 1rem;
}

.container > .page{
	width: 100%;
	justify-content: center;
}

.container > .page > img, .container > .page > div{
	margin: 1rem;
}

.container > .page > img{
	max-width: 600px;
	min-width: 600px;
}

.container h2
{
	text-align: center;
	color: white;
}

.container p
{
	font-size: 1.4rem;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    color: white;
    font-family: 'EB Garamond', serif;
}


.controlPanel{
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

button{
	all: unset;
	flex: 1;
	font-size: 1.3rem;
	background-color: #eaeaea;
	border-radius: 15px;
	padding: 5px 10px;
	margin: 5px;
	cursor: pointer;
}

button:hover{
	box-shadow: inset 0px 0px 50px 50px rgba(0,0,0,0.31)
}

.divCambioPagina
{
	flex-direction: row;
}

.divBottoni
{
	flex-direction: row;
	margin: auto;
}

.divBottoni > div
{
	border: 2px solid white;
	display: table-cell;
	padding: 1rem;
}

.page
{
	display: none;
}

.containerFooter
{
	text-align: center;
	margin-top: 3rem;
}

#containerListe
{
	color: white; 
	display: flex;
	padding: 0 18px;
	background-color: #1e1e21;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.containerLista
{
	padding: 1rem;
	flex: 1;
}

.containerLista li
{
	font-size: 1.2rem;
}

.sezione2 p, ul{
	font-size: 1.5rem;
	text-align: justify;
}

.info_box
{
    position: absolute;
    color: black;
    background-color: #bdbfab;
    display: none;
    border-radius: 10px;
    text-align: left;
    font-size: 1rem;
    border: 3px solid #6f705e;
    padding: 15px 30px;
}

footer
{
	background-color: #1e1e21;
	color: white;
	padding: 2rem;
	font-size: 1rem;
}

footer p
{
	margin: 0;
	text-align: center;
}

footer a
{
	color: #bdbfab;
}

.place
{
	text-decoration: underline wavy white 1px;
}

.del
{
	background-color: darkslategray;
	text-decoration: line-through;
	display: none;
}

.expan
{
	background-color: darkslateblue;
	display: none;
}

.supplied
{
	background-color: darkcyan;
	display: none;
}

.sic
{
	background-color: firebrick;
	display: none;
}

.reg
{
	background-color: darkorange;
	display: none;
}

@media screen and (max-width: 1500px) {
	.container p
	{
		font-size: 1rem;
	}
}

@media screen and (max-width: 1100px) {

	.container > .page
	{
		text-align: center;
	}

	.container p
	{
		font-size: 1.3rem;
		position: static;
	    transform: none;
	    margin: 0;
	}

	button{
	
		font-size: 1rem;
	}

	.sezione1 > .containerTabelle
	{
		flex-direction: column;
	}

	.sezione1 > .containerTabelle > .containerTabella
	{
		font-size: 1rem;
	}

	#containerListe
	{
		flex-direction: column;
	}
}